@import "../node_modules/tailwindcss";

@tailwind base;
@tailwind utilities;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #181818;
    border: 1px solid #000000;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 равные колонки */
    max-width: 980px; /* ограничение по ширине */
    margin: 0 auto;
    gap: 10px;
}


.movie-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;

    max-width: 320px;
    max-height: 750px;
    width: 100%;

    background-color: #101010;
    border-radius: 10px;
    border: 1px solid rgba(121, 121, 121, 0.3);
}

img {
    display: flex;
    height: 450px;
    width: 300px;

    object-fit: cover;
    border-radius: 10px;
}


.movie-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 5px;
}

.movie-buttons {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #2f2f2f;
}

.movie-card-btn {
    width: 30%;
    height: 35px;
    margin: 10px 0;

    border-radius: 7px;
    box-shadow: 0 3px 3px rgba(121, 121, 121, 0.3);
}

.movie-card-btn:active {
    background-color: rgba(121, 121, 121, 0.3);
    border-color: black;
    color: white;
}

.movie-info-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}


form {
    display: flex;
    padding: 10px;
    width: 100%;

    margin-bottom: 20px;


}

input {
    width: 95%;
    border-bottom: 1px solid #363636;
}

input :hover {
    color: red;
}

.form-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 5%;

    border-left: 1px solid #363636;
    border-bottom: 1px solid #363636;
    border-radius: 5px;
}

header {
    background: #181818;
    border-bottom: 1px solid #000000;
    margin-bottom: 5px;
}

/* Ограничение ширины и центрирование */
.container-header-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    max-width: 1000px;
    min-height: 64px;
    margin: 0 auto;
    padding: 0 10px;
    gap: 24px;
}

/* Левая часть — логотип */
.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-title {
    font-size: 1.6em;

}

/* Правая часть — кнопка */
.header-actions {
    justify-self: end; /* Кнопка всегда справа в гриде */
}

/* Кнопка */
.header-btn {
    cursor: pointer;              /* Курсор-рука при наведении */
    transition: opacity 0.2s;     /* Плавное изменение прозрачности при наведении */
    opacity: 0.7;                 /* По умолчанию чуть прозрачнее */
}

.header-btn:hover {
    opacity: 1;
}


@media (max-width: 600px) {
    .container-header-content {
        padding: 0 10px;
        min-height: 48px;
        gap: 8px;
    }
    .header-title {
        font-size: 1.1rem;
    }
}


